.external { 
    flex: auto;
    display: flex;                        
}
.internal { 
    display: inline-block;                
    margin: 10px auto;
}
.pagination {
    width: 20%;  
    margin: 0 auto;
    text-align: center;            
}
.pagination :after {
  content: "";
  display: table;
  clear: both;
}
